<form [formGroup]="messageForm" (ngSubmit)="submitForm()" class="email-preview">
  <ul class="ml-0">
    <li class="mb-2">
      <span class="p-float-label w-full">
        <label for="subject">Subject</label>
        <input
          pInputText
          id="subject"
          formControlName="subject"
          placeholder="Type your subject here"
          class="w-full"
        />
      </span>
    </li>

    <li class="flex justify-between items-end mb-2">
      <span class="p-float-label w-full">
        <label for="recipientEmail">To</label>
        <input
          pInputText
          id="recipientEmail"
          formControlName="recipientEmail"
          placeholder="Enter recipient email"
          class="w-full"
        />
      </span>
    </li>

    <li class="flex justify-between items-end mb-2">
      <span class="p-float-label w-full">
        <label for="folder">From:</label>
        <p-dropdown
          id="sender"
          formControlName="senderEmail"
          [options]="emailAddresses"
          [placeholder]="'Select email'"
          class="w-full"
        ></p-dropdown>
      </span>
    </li>

    <li class="flex justify-between items-end mb-2">
      <span class="p-float-label w-full">
        <label for="folder">Folder</label>
        <p-dropdown
          id="folder"
          formControlName="folder"
          [options]="(folders$ | async)!"
          [placeholder]="'Select folder'"
          class="w-full"
        ></p-dropdown>
      </span>
    </li>

    <li class="mb-2">
      <span class="p-float-label w-full">
        <label for="body">Message</label>
        <textarea
          pInputText
          id="body"
          formControlName="body"
          placeholder="Type your message here"
          class="w-full h-[200px] resize-none bg-white"
        ></textarea>
      </span>
    </li>
    <li>
      <p-button
        type="submit"
        label="Send"
        [disabled]="messageForm.invalid"
        [loading]="sendLoading"
        class="w-full"
        styleClass="w-full"
        icon="pi pi-send"
      ></p-button>
    </li>
    <li>
      <p-button
        type="button"
        label="Save to Drafts"
        [loading]="draftLoading"
        [disabled]="messageForm.invalid"
        class="w-full mt-2"
        severity="info"
        styleClass="w-full mt-2"
        icon="pi pi-file"
        (click)="onSaveToDraft.emit(messageForm.getRawValue())"
      ></p-button>
    </li>
  </ul>
</form>
