@import 'tailwindcss/base.css' layer(tailwindcss);
@import 'tailwindcss/components.css' layer(tailwindcss);
@import 'tailwindcss/utilities.css' layer(tailwindcss);

@import "primeicons/primeicons.css";

body {
  margin: 0;
  font-family: var(--font-family);
  padding-top: 60px; // Height of navbar
}
  
.app-container {
    min-height: calc(100vh - 60px);
}

.p-dialog-mask {
  background-color: rgba(0, 0, 0, 0.1);
}